*{margin:0;padding:0;border:0;}
div {padding: 10px;}
header, nav, article, section, aside, footer {padding: 20px;}
#main {max-width: 1200px; margin: 0 auto;padding: 0;}
header {background-color: black; margin-top: 40px;}
.topbar {background-color: #314057; display: flex; justify-content: space-between;}
.topbar div {background-color: #d95f5b; padding: 10px; margin: 10px;}
.flex4 {flex-grow: 4 !important;}
nav {background-color: #e1804d; margin-top: 10px;}
nav div {background-color: #f6d673;}
section {background-color: black; margin-top: 20px; display: flex; padding: 10px;}
article {background-color: #4d4e68; margin: 10px; display: flex; justify-content: space-between; row-gap: 20px; flex-wrap: wrap;}
article div {background-color: #3669ac; width: 45%;}
article div:last-child {background-color: #7aa1c1; width: 100%;}
aside {background-color: #e54f57; display: flex; margin: 10px; flex-wrap: wrap; align-content: flex-start; row-gap: 10px;}
aside div {background-color: #fbeb92; width: 100%;}
footer {background-color: black; margin-top: 20px;}
footer div {background-color: #deb14a;}
.flex1 {flex-grow: 1 !important;}
.flex2 {flex-grow: 2 !important;}
.flex3 {flex-grow: 3 !important;}
.flex4 {flex-grow: 4 !important;}
@media only screen and (max-width: 1200px) {
  body {padding: 0 20px;}
  section {background-color: yellow; flex-flow: column;}
  article div {width: 45%;}
}